body{
    /* padding-top: 50px; */
    /* background-image: linear-gradient(117deg, rgba(2,0,36,1) 0%, rgba(125,129,150,0.9757503221014968) 96%, rgba(222,199,45,1) 98%, rgba(222,199,45,1) 98%, rgba(142,49,242,0.5859143339953169) 98%);; */
  }
  label{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: black;
    padding-top: 10px;
  }
  
  h5{
    color: white;
  }